@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'MonumentExtended'; /*memberikan nama bebas untuk font*/
    src: url('font/MonumentExtended-Regular.otf'), url('font/MonumentExtended-Ultrabold.otf');/*memanggil file font eksternalnya di folder nexa*/
  }

body{
    background-color: #101415;
}

h1{
    font-family: "Bebas Neue", sans-serif;
}
.logo, .shadow__text{
    font-family: 'MonumentExtended', sans-serif;
}
li, p, a, h2{
    font-family: "Poppins";
}
