#hero{
    background-image: url("../assets/images/bg-hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#bg-man{
    background-image: url("../assets/images/bg-man-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#blog{
    background-image: url("../assets/images/bg-blog.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-section {
    background-image: url('../assets/images/login-image.png');
    /* https://www.freepik.com/free-photo/elderly-female-smiling-with-doctor-visiting-senior-patient-woman-hospital-ward_7813357.htm#fromView=search&page=1&position=1&uuid=cae1a029-3a2b-4a29-a28c-a5cd89798803 */
    background-size: cover;
    background-position: center;
}


  